name: Properly Go GitHub Actions

on:
  push:
    branches: [ dev ]
  # pull_request:
  #   branches: [ master ]


jobs:
  buildAndTest:
    name: CI Pipeline
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.16.x]


    steps:
      - uses: actions/checkout@v2

      # Initialize Go
      - name: Install Golang ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      # Install project dependencies, test and build
      - name: Run go
        run: |
          go mod download
          go run main.go


      - name: Executing remote  command
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
              cd /var/www/go/test/properly-auth
              git pull
    